* {
  padding: 0;
  margin: 0;
}

.App {
  background-image: url("images/Background.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorTitulo {
  margin: 10px;
  min-height: 40px;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background: #82848cff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.titulo {
  width: fit-content;
  height: fit-content;
  font-family: sans-serif;
  font-size: larger;
  text-shadow: 2px 2px 4px black;
}
.contenedor {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
