button {
  width: 250px;
  height: 80px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  border: 5px solid black;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  text-shadow: 2px 2px 4px black;
}

button:hover {
  background-color: rebeccapurple;
}

.boton-sumar {
  background-color: #002ead;
}

.boton-reiniciar {
  background-color: green;
}
