/*.contador {
  margin: 10px;
  height: 200px;
  width: 500px;
  padding: 10px;
  border: 20px 20px 20px 20px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  align-items: center;
  justify-content: center;
}
*/

.contador {
  min-width: 300px;
  height: 300px;
  font-size: 160px;
  padding: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid black;
  margin-bottom: 15px;
}
